# Virtual environments
.cae/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Ignore all files inside data/input
data/input/*
!data/input/.gitkeep